<!DOCTYPE html>
<html>
  <head>
    <title><%= data %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data %></h1>
    <p>Welcome to <%= data %></p>
	<h2>Cool!</h2>
  </body>
</html>
